.landing-bg {
    position: relative;
    background: url('./img/landing2.png') no-repeat;
}

.height-bg {
    height: 1000px;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.fb-profile img.fb-image-lg {
    z-index: 0;

    margin-bottom: 10px;
}

.fb-image-profile {
    margin: -90px 10px 0px 50px !important;
    z-index: 9 !important;
    width: 20%;
}

@media (max-width:768px) {

    .fb-profile-text>h1 {
        font-weight: 700;
        font-size: 16px;
    }

    .fb-image-profile {
        margin: -45px 10px 0px 25px !important;
        z-index: 9 !important;
        width: 20% !important;
        height: 20% !important;
    }
}